.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

gradle.properties

*.ipr
*.iml
*.iws
.idea
.gradle

# Ignore Gradle build output directory
build
